/* Import font family Coming Soon from Google */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

/* Global Style */
* {
  font-family: Coming Soon;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  
  /* Prevent scrolling outside the container */
  
  overflow: hidden;
}

body {
  /* Base flex grid display */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* Containers outline */
  /* for debugging */
  border: 2px solid black;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1), 0 2px 6px 0 rgba(0, 0, 0, 1);
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
}


/* 
  Main Flexbox Container 
  - The information for each section is contained here
  - Flex direction = column to stack sections vertically
*/
main {
  /* Position the contents */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 2%; */
  padding: 2%;
  margin: auto;
  max-width: 60%;
  
  background-color: grey;
  border-radius: 14px;
}

/*
  Navigation Sidebar
*/
nav {
  position: sticky;
  float: left;
  width: 20%;
  background: grey;
  display: flex;
  flex-direction: column;
  
  /* Style Contents */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  
  /* Style box */
  border-radius: 14px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1), 0 2px 6px 0 rgba(0, 0, 0, 1);
  left: 6%;
  z-index: 10;
}

nav li {
  list-style-type: none;
  padding: 4% 0%;
  text-align: center;
}

nav button {
  width: 80%;
  padding: 4% 0%;
  font-size: 1.2em;
  border-radius: 14px;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1), 0 2px 6px 0 rgba(0, 0, 0, 1);
  
  /* Style button */
  background-color: #e94560;
  color: white;
  
  /* Change cursor on hover */
  cursor: pointer;
}


/* 
  Style Contents Section
*/

/* Introduction Screen */
#intro {
  height: 100%;
  width: 100%;

  /* Style background */
  /* CHANGE THE BG COLOR LATER TO SHOW SUNSET */
  background: linear-gradient(135deg, #651818 0%, #6c5334 50%, #505410 100%);
  text-align: center;
  margin: auto;
  /* Might need to adjust this padding... */
  padding: 20% 0;
}

#intro_btn_sleep {
  margin-top: 5%;
  padding: 2% 5%;
  font-size: 1.5em;
  border-radius: 14px;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1), 0 2px 6px 0 rgba(0, 0, 0, 1);
  
  /* Style button */
  background-color: #e94560;
  color: white;
}

/* Handle the appearance of contents */
#about_me, #interests, #projects, #extras, #contact {
  display: none;
}