/* Import font family Coming Soon from Google */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

/* Global Style */
* {
  font-family: Coming Soon;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  
  /* Prevent scrolling outside the container */
  overflow: hidden;
}

body {
  /* Base flex grid display */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* Containers outline */
  /* for debugging */
  border: 2px solid black;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1), 0 2px 6px 0 rgba(0, 0, 0, 1);
  background-color: lightgrey;
}


/* 
  Main Flexbox Container 
  - The information for each section is contained here
  - Flex direction = column to stack sections vertically
*/
main {
  /* Position the contents */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 2%; */
  padding: 2%;
  margin: auto;
  max-width: 60%;
  
  background-color: grey;
  border-radius: 14px;
}

/* Navigation Sidebar */
nav {
  position: sticky;
  float: left;
  width: 20%;
  background: grey;
  display: flex;
  flex-direction: column;
  
  /* Style Contents */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  
  /* Style box */
  border-radius: 14px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1), 0 2px 6px 0 rgba(0, 0, 0, 1);
  /* top: 0%; Need this? */
  left: 6%;
  z-index: 10;
}

nav li {
  list-style-type: none;
  padding: 4% 0%;
  text-align: center;
}


/* 
  Style Contents Section
*/

/* Introduction Screen */
#intro {
  height: 100%;
  width: 100%;
  /* z-index: 5; */

  /* Style background */
  background-color: lightgrey;
  text-align: center;
  margin: auto;
  /* Might need to adjust this padding... */
  padding: 20% 0;
}



/* Handle the appearance of contents */
/* #default {
  display: none;
} */
#about-me {
  display: none;
}
#interests {
  display: none;
}
#projects {
  display: none;
}
#extras {
  display: none;
}
#contact {
  display: none;
}